:root{
    --color-laranja: #F1A23D;
    --button-color-operadores: #F1A23D;
    --color-cinza: #686A6C;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", sans-serif;
}

.container{
    background: linear-gradient(var(--color-cinza), var(--color-laranja));
    width: 100vw;
    height: 100vh;


}

.grid{
    display: grid;
    height: 480px;
    width: 320px;
}

.item{
    color: white;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    border: 0,5px solid black;


}

.button-operacao-direita{
    background: var(--button-color-operadores);
}

.button-numeros{
    background-color: var(--color-cinza);
}